node_modules/
backend/node_modules/
frontend/node_modules/
backend/logs/
backend/storage/sessions/
backend/storage/schedule-config.json
.wwebjs_auth/
.wwebjs_cache/
.github/
.github/workflows/
backend/config/*.json
frontend/dist/
